Year 2 Sem 2/2018S2-IT2605-Applications Of Web Services/5. Practical Test/RedStoreWeb/RedStoreWeb/Service References/SvcRedStore/WsSales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsSales" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60507/WsSales.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60507/WsSales.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60507/WsSales.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsSales_getAllSales_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllSales" />
  </wsdl:message>
  <wsdl:message name="IWsSales_getAllSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IWsSales_getSalesByStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:getSalesByStaff" />
  </wsdl:message>
  <wsdl:message name="IWsSales_getSalesByStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSalesByStaffResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsSales">
    <wsdl:operation name="getAllSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsSales/getAllSales" message="tns:IWsSales_getAllSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsSales/getAllSalesResponse" message="tns:IWsSales_getAllSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSalesByStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsSales/getSalesByStaff" message="tns:IWsSales_getSalesByStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsSales/getSalesByStaffResponse" message="tns:IWsSales_getSalesByStaff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsSales" type="tns:IWsSales">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllSales">
      <soap:operation soapAction="http://tempuri.org/IWsSales/getAllSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSalesByStaff">
      <soap:operation soapAction="http://tempuri.org/IWsSales/getSalesByStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsSales">
    <wsdl:port name="BasicHttpBinding_IWsSales" binding="tns:BasicHttpBinding_IWsSales">
      <soap:address location="http://localhost:60507/WsSales.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>