Year 2 Sem 2/2018S2-IT2605-Applications Of Web Services/4. Assignment/IT2605 AWS Project/NYP/NYP/Service References/FLY_TA_svc/WsFLY_TA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsFLY_TA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1102/WsFLY-TA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1102/WsFLY-TA.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1102/WsFLY-TA.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsFLY_TA_GetOSEPs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOSEPs" />
  </wsdl:message>
  <wsdl:message name="IWsFLY_TA_GetOSEPs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOSEPsResponse" />
  </wsdl:message>
  <wsdl:message name="IWsFLY_TA_GetOSEPDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOSEPDetails" />
  </wsdl:message>
  <wsdl:message name="IWsFLY_TA_GetOSEPDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOSEPDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWsFLY_TA_UpdateOSEP_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOSEP" />
  </wsdl:message>
  <wsdl:message name="IWsFLY_TA_UpdateOSEP_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOSEPResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsFLY_TA">
    <wsdl:operation name="GetOSEPs">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsFLY_TA/GetOSEPs" message="tns:IWsFLY_TA_GetOSEPs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsFLY_TA/GetOSEPsResponse" message="tns:IWsFLY_TA_GetOSEPs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOSEPDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsFLY_TA/GetOSEPDetails" message="tns:IWsFLY_TA_GetOSEPDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsFLY_TA/GetOSEPDetailsResponse" message="tns:IWsFLY_TA_GetOSEPDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOSEP">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsFLY_TA/UpdateOSEP" message="tns:IWsFLY_TA_UpdateOSEP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsFLY_TA/UpdateOSEPResponse" message="tns:IWsFLY_TA_UpdateOSEP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsFLY_TA" type="tns:IWsFLY_TA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOSEPs">
      <soap:operation soapAction="http://tempuri.org/IWsFLY_TA/GetOSEPs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOSEPDetails">
      <soap:operation soapAction="http://tempuri.org/IWsFLY_TA/GetOSEPDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOSEP">
      <soap:operation soapAction="http://tempuri.org/IWsFLY_TA/UpdateOSEP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsFLY_TA">
    <wsdl:port name="BasicHttpBinding_IWsFLY_TA" binding="tns:BasicHttpBinding_IWsFLY_TA">
      <soap:address location="http://localhost:1102/WsFLY-TA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>