Year 2 Sem 2/2018S2-IT2605-Applications Of Web Services/2. Practical/Week 8/IT2605Prac05_ACME/IT2605Prac05_ACME/Service References/SvcRefBetterBookSupplier/WsBookCatalog2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1045/WsBookCatalog.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IT2605Prac05_BBS" />
  <xs:element name="MsgContractRequestGetBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="password" nillable="true" type="xs:string" />
  <xs:element name="user" nillable="true" type="xs:string" />
  <xs:element name="MsgContractResponseDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="results" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MsgContractRequestGetBookDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IT2605Prac05_BBS" minOccurs="0" name="bookOrder" nillable="true" type="q1:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrdersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>