Year 2 Sem 2/2018S2-IT2605-Applications Of Web Services/2. Practical/Week 7/ABCHealth/ABCHealth/Service References/bbs_svc/WsBookCatalog1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IT2605Prac05_BBS.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IT2605Prac05_BBS.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordBookQty" type="xs:int" />
      <xs:element minOccurs="0" name="ordBookisbn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>