Year 2 Sem 2/2018S2-IT2605-Applications Of Web Services/2. Practical/Week 7/ABCHealth/ABCHealth/Service References/bbs_svc/WsBookCatalog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsBookCatalog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1045/WsBookCatalog.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1045/WsBookCatalog.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1045/WsBookCatalog.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:1045/WsBookCatalog.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IT2605Prac05_BBS.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsBookCatalog_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IWsBookCatalog_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IWsBookCatalog_GetBookDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookDetails" />
  </wsdl:message>
  <wsdl:message name="IWsBookCatalog_GetBookDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWsBookCatalog_CreateOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrders" />
  </wsdl:message>
  <wsdl:message name="IWsBookCatalog_CreateOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsBookCatalog">
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsBookCatalog/GetBooks" message="tns:IWsBookCatalog_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsBookCatalog/GetBooksResponse" message="tns:IWsBookCatalog_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsBookCatalog/GetBookDetails" message="tns:IWsBookCatalog_GetBookDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsBookCatalog/GetBookDetailsResponse" message="tns:IWsBookCatalog_GetBookDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsBookCatalog/CreateOrders" message="tns:IWsBookCatalog_CreateOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsBookCatalog/CreateOrdersResponse" message="tns:IWsBookCatalog_CreateOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsBookCatalog" type="tns:IWsBookCatalog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IWsBookCatalog/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookDetails">
      <soap:operation soapAction="http://tempuri.org/IWsBookCatalog/GetBookDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrders">
      <soap:operation soapAction="http://tempuri.org/IWsBookCatalog/CreateOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsBookCatalog">
    <wsdl:port name="BasicHttpBinding_IWsBookCatalog" binding="tns:BasicHttpBinding_IWsBookCatalog">
      <soap:address location="http://localhost:1045/WsBookCatalog.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>