Year 2 Sem 2/2018S2-IT2605-Applications Of Web Services/2. Practical/Week 3/Practical/IT2605Prac03Client/IT2605Prac03Client/Service References/myproxy/WsIT2605Pra022.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IT2605Prac02" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IT2605Prac02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseStudy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentGPA" type="xs:decimal" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
</xs:schema>